<div>
    <h2 class="text-center">Order ID: {{orders.[0]._id}}</h2>
</div>

<div>
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="pl-4 pt-4">
            <div class="row">
                <div class="col-6">
                    {{#each orders.products}}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="/product-images/{{this.product.img.[0]}}" class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-title font-weight-bold mb-0">{{this.product.productName}}</h6>
                                    <h5 class="card-title">{{this.product.brandName}}</h5>
                                    {{!-- <p class="card-text">This is a wider card with supporting text below as a
                                        natural
                                        lead-in
                                        to
                                        additional content. This content is a little bit longer.</p> --}}
                                    <div id="statusDiv">
                                        <div>
                                            <div class="">
                                                <p class="card-text text-danger font-weight-bold mb-0">₹
                                                    {{this.product.price}}
                                                </p>
                                                <p class="text-dark mb-0">Status:
                                                    <span class="font-weight-bold">{{this.status}}</span>
                                                </p>

                                                {{#if (cancelled this.status)}}
                                                <p class="text-dark mb-0">User cancelled this order.
                                                </p>
                                                {{/if}}
                                                {{#if (delivered this.status)}}
                                                <p class="text-dark mb-0">Delivery date: Monday 24/10/2022
                                                </p>
                                                {{/if}}

                                                {{#if (rejected this.status)}}
                                                <p class="text-dark mb-0">You cancelled this order.
                                                </p>
                                                {{/if}}


                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="">
                                                {{#if (not (delivered this.status))}}
                                                {{#if (not (outForDelivery this.status))}}
                                                {{#if (not (shipped this.status))}}
                                                {{#if (not (cancelled this.status))}}
                                                <a onclick="changeProductOrderStatus('{{this._id}}','Shipped')"
                                                    class="btn btn-primary mt-2">Ship</a>
                                                {{/if}}
                                                {{/if}}
                                                {{/if}}
                                                {{/if}}

                                                {{#if (shipped this.status)}}
                                                <a onclick="changeProductOrderStatus('{{this._id}}','Out For Delivery')"
                                                    class="btn btn-primary mt-2">Out For Delivery</a>                                                
                                                {{/if}}


                                                {{#if (outForDelivery this.status)}}
                                                <a onclick="changeProductOrderStatus('{{this._id}}','Delivered')"
                                                    class="btn btn-success mt-2">Delivered</a>
                                                {{/if}}
                                                
                                                {{#if (not (delivered this.status))}}
                                                {{#if (not (cancelled this.status))}}
                                                {{#if (not (rejected this.status))}}
                                                <a onclick="cancelOrder('{{this._id}}','Rejected')"
                                                    class="btn btn-danger mt-2">Cancel</a>
                                                {{/if}}
                                                {{/if}}
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-6">
                    <div class="h-100">
                        <div class="cart__total__procced">
                            <div class="pt-4">
                                <div>
                                    <p style="color: #111;" class="text-black font-weight-bold m-0">Order ID:
                                        {{orders._id}}
                                    </p>
                                    <p style="color: #111;" class="card-text pr-2 font-weight-bold m-0">Order Date:
                                        <span class="font-weight-bold">{{orders.date}}</span>
                                    </p>
                                    <p style="color: #111;" class="text-black font-weight-bold m-0">Payment Method:
                                        {{orders.paymentMethod}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="">
                                <div>
                                    <p style="color: #111';" class="text-black font-weight-bold">Address: </p>
                                    <p style="color: #111;" class="text-black font-weight-bold m-0">
                                        {{orders.deliveryDetails.name}}</p>
                                    <p style="color: #111;" class="text-black font-weight-bold m-0">
                                        {{orders.deliveryDetails.phoneNumber}}</p>
                                    <p style="color: #111;" class="text-black font-weight-bold">
                                        {{orders.deliveryDetails.address}},
                                        {{orders.deliveryDetails.locality}},
                                        {{orders.deliveryDetails.city}}
                                        ,
                                        {{orders.deliveryDetails.state}}
                                        -
                                        {{orders.deliveryDetails.zip}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="pt-3">
                                <p style="color: #111';" class="text-black font-weight-bold"></p>
                                {{#each orders.products}}
                                <div class="d-flex">
                                    <div class="pr-2">
                                        <p class="text-black font-weight-bold m-0">{{inc @index}}.</p>
                                    </div>
                                    <div class="w-75">
                                        <p style="color: #111;" class="text-black font-weight-bold m-0">
                                            {{this.product.productName}}</p>
                                    </div>
                                    <div style="width:20%" class="">
                                        <p class="text-black font-weight-bold m-0"> x{{this.quantity}}</p>
                                    </div>
                                    <div style="width: 15%" class="">
                                        <p class="text-danger font-weight-bold m-0">₹ {{this.totalPrice}}</p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <hr>
                            <div class="">

                                {{!-- <li>Subtotal <span>$ 750.0</span></li> --}}
                                {{!-- <li>Coupon Discount<span>$ 750.0</span></li> --}}
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p style="color: #111;" class="text-black font-weight-bold">Total </p>
                                    </div>
                                    <div>
                                        <p style="" class="text-danger font-weight-bold pr-5" id="price">₹
                                            {{orders.total}}</p>
                                    </div>
                                </div>
                                {{!-- <li>Convenience Fee<span>$ 750.0</span></li> --}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

</div>

<script>

    function changeProductOrderStatus(orderedProductId, status) {
        $.ajax({
            url: '/admin/changeOrderStatus',
            type: 'POST',
            data: {
                orderedProductId,
                status
            },
            success: (response) => {
                if (response.status) {
                    Swal.fire({
                        text: 'Order has been updated.',
                        icon: 'success',
                    })
                    setTimeout(() => {
                        location.reload()
                    }, 500)
                }
            }
        })
    }

    function cancelOrder(orderedProductId, status) {
        Swal.fire({
            text: "Are you sure in cancelling this order?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/changeOrderStatus',
                    type: 'POST',
                    data: {
                        orderedProductId,
                        status
                    },
                    success: (response) => {
                        if (response.status) {
                            Swal.fire({
                                text: 'Order has been cancelled.',
                                icon: 'success',
                            })
                            setTimeout(() => {
                                location.reload()
                            }, 500)
                        }
                    }
                })
            }
        })
    }

</script>