{{!-- <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script> --}}
<div>
    <h1 class="text-center">Order Data</h1>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Pending Orders</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Products</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <div id="status">
                            <tr>
                                <td><span class="name">{{this._id}}</span> </td>
                                <td><span class="">{{this.date}}</span> </td>
                                <td><a href="/admin/viewProducts/{{this._id}}" class="btn btn-primary">View Products</a>
                                </td>
                                <td><span class="">{{this.amount}}</span></td>
                                <td id="">
                                    {{#if this.isShipped}}
                                    <button id="statusbtn" onclick="changeStatus('{{this._id}}')"
                                        class="btn btn-info">{{this.status}}</button>
                                    {{else if this.isOutForDelivery}}
                                    <button id="statusbtn" onclick="changeStatus('{{this._id}}')"
                                        class="btn btn-warning">{{this.status}}</button>
                                    {{else if this.isDelivered}}
                                    <button id="statusbtn" onclick="changeStatus('{{this._id}}')"
                                        class="btn btn-success">{{this.status}}</button>
                                    {{else if this.isCancelled}}
                                    <button id="statusbtn" onclick="changeStatus('{{this._id}}')"
                                        class="btn btn-danger">{{this.status}}</button>
                                    {{else}}
                                    <button id="statusbtn" onclick="changeStatus('{{this._id}}')"
                                        class="btn btn-primary">{{this.status}}</button>
                                    {{/if}}
                                </td>
                                <td><span>{{this.paymentMethod}}</span></td>
                            </tr>
                        </div>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    function changeStatus(orderId) {
        jQuery.ajax({
            url: '/admin/changeDeliveryStatus',
            method: "post",
            data: {
                orderId: orderId
            },
            success: (response) => {
                if (response) {
                    setTimeout(($) => {
                        $("#status").load(location.href + " #status");
                    }, 10)
                }
            }
        })
    }



</script>