<div>
    <h1 class="text-center">User Data</h1>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">User</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead class="text-center">
                        <tr>
                            <th class="serial">#</th>
                            {{!-- <th class="avatar">Avatar</th> --}}
                            <th>Name</th>
                            <th>Email</th>
                            {{!-- <th>Admin</th> --}}
                            <th>Status</th>
                            {{!-- <th>Orders</th> --}}
                            <th class="text-center">Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {{#each userData}}
                        <tr>
                            <td class="serial">1</td>
                            <td> <span class="name">{{this.name}}</span> </td>
                            <td> <span class="email">{{this.email}}</span> </td>
                            <td>
                                {{#if this.isBlocked}}
                                <a href="/admin/changeUserStatus/{{this._id}}" class="btn btn-primary">Blocked</a>
                            </td>
                            {{else}}
                            <a href="/admin/changeUserStatus/{{this._id}}"  class="btn btn-primary">Active</a></td>
                            {{/if}}
                            </td>
                            {{!-- <td>
                                <span class="badge badge-complete">Complete</span>
                            </td> --}}
                            <td class="text-center">
                                <a href="/admin/userDetails/{{this._id}}" class="btn btn-primary">More Details</a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</div>
