<div>
    <h1 class="text-center">Order Data</h1>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Pending Orders</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Products</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td><span class="name">{{this._id}}</span> </td>
                            <td><span class="">{{this.date}}</span> </td>
                            <td><a href="/admin/viewProducts/{{this._id}}" class="btn btn-primary">View Products</a> </td>
                            <td><span class="">{{this.amount}}</span></td>
                            <td>
                                <button class="btn btn-info">{{this.status}}</button>
                            </td>
                            <td><span>{{this.paymentMethod}}</span></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</div>