<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col,
    .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>

<div class="container">
    <div
        class="main-body">

        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container mb-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="/">
                                <i class="fa fa-home"></i>
                                Home</a>
                            <span style="cursor: pointer;">Account</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            {{!-- <div class="mt-3">
                                                                <h4>{{userData.name}}</h4>
                        <p class="text-secondary mb-1">{{userData.email}}</p>
                        <p class="text-muted font-size-sm">Bay Area, San
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Francisco, CA</p>
                        <button class="btn btn-primary">Follow</button>
                        <button class="btn btn-outline-primary">Message</button>
                    </div>
                    --}}
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Profile</h6>
                    <a href="/userDetails" class="btn btn-primary">View</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Address</h6>
                    <a href="#" class="btn btn-dark">View</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Orders</h6>
                    <a href="" class="btn btn-primary">View</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Cart</h6>
                    <a href="/cart/{{user._id}}" class="btn btn-primary">View</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Wishlist</h6>
                    <a href="/wishlist" class="btn btn-primary">View</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Logout</h6>
                    <a href="/logout" class="btn btn-info">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewAddress">Add New Address</button>
                    </div>
                </div>
                <div class="modal fade" id="addNewAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body mt-2">
                                <form
                                    method="" action="" id="addAddress">
                                    <!-- Name input -->
                                    <div class="form-outline mb-3">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Name"/>
                                    </div>

                                    <!--Phone Number input -->
                                    <div class="form-outline mb-3">
                                        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number">
                                    </div>

                                    <hr class="">

                                    <div class="row">
                                        {{!-- PinCode  --}}
                                        <div class="col-lg-6">
                                            <div class="form-outline mb-3">
                                                <input type="text" name="zip" id="zip" class="form-control" placeholder="Pincode/Zipcode"/>
                                            </div>
                                        </div>

                                        <!--State input -->
                                        <div class="col-lg-6">
                                            <div class="form-outline mb-3">
                                                <input type="text" name="state" id="state" class="form-control" placeholder="State">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Address input -->
                                    <div class="form-outline mb-3">
                                        <input type="text" name="address" id="address" class="form-control" placeholder="Address(House No, Street Area)"/>
                                    </div>
                                    <!-- Locality input -->
                                    <div class="form-outline mb-3">
                                        <input type="text" name="locality" id="locality" class="form-control" placeholder="Locality"/>
                                    </div>
                                    <!-- City/District input -->
                                    <div class="form-outline mb-3">
                                        <input type="text" name="city" id="city" class="form-control" placeholder="City/ District"/>
                                    </div>
                                    {{!-- <div class="">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div> --}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutters-sm">
            {{#each addresses.addressObj}}
                <div class="col-sm-8 mb-3">
                    <div class="card" style="">
                        <div class="card-body p-3">
                            <p class="card-title">Name:
                                <span class="text-black font-weight-bold">{{this.name}}</span>
                            </p>

                            <div class="row mb-1">
                                {{!-- PinCode  --}}
                                <div class="col-6">
                                    <p class="mb-2">Phone:
                                        <span class="text-black font-weight-bold">{{this.phoneNumber}}</span>
                                    </p>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>Pin:
                                    <span class="text-black font-weight-bold">{{this.zip}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mb-1">
                            {{!-- PinCode  --}}
                            <div class="col-6">
                                <p class="mb-2">Address:
                                    <span class="text-black font-weight-bold">{{this.address}}</span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>Locality:
                                    <span class="text-black font-weight-bold">{{this.locality}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row mb-2">
                            {{!-- PinCode  --}}
                            <div class="col-6">
                                <p>City:
                                    <span class="text-black font-weight-bold">{{this.city}}</span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>State:
                                    <span class="text-black font-weight-bold">{{this.state}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" data-target="#editAddress" data-id="{{this._id}}" data-toggle="modal" class="text-info">Edit</a>
                            </div>
                            <div class="col-6">
                                <a href="#" onclick="deleteAddress('{{this._id}}')" class="text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

        <div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body mt-2">
                        <form method="" action="" id="editAddress">


                            <div class="form-outline mb-3">
                                <input type="text" name="id" id="ID" class="form-control" placeholder="ID" hidden/>
                            </div>

                            <!-- Name input -->
                            <div class="form-outline mb-3">
                                <input type="text" name="name" id="editName" class="form-control" placeholder="Name"/>
                            </div>

                            <!--Phone Number input -->
                            <div class="form-outline mb-3">
                                <input type="tel" name="phoneNumber" id="editPhoneNumber" class="form-control" placeholder="Phone Number">
                            </div>

                            <hr class="">

                            <div class="row">
                                {{!-- PinCode  --}}
                                <div class="col-lg-6">
                                    <div class="form-outline mb-3">
                                        <input type="text" name="zip" id="editZip" class="form-control" placeholder="Pincode/Zipcode"/>
                                    </div>
                                </div>

                                <!--State input -->
                                <div class="col-lg-6">
                                    <div class="form-outline mb-3">
                                        <input type="text" name="state" id="editState" class="form-control" placeholder="State">
                                    </div>
                                </div>
                            </div>

                            <!-- Address input -->
                            <div class="form-outline mb-3">
                                <input type="text" name="address" id="editAddressPlace" class="form-control" placeholder="Address(House No, Street Area)"/>
                            </div>
                            <!-- Locality input -->
                            <div class="form-outline mb-3">
                                <input type="text" name="locality" id="editLocality" class="form-control" placeholder="Locality"/>
                            </div>
                            <!-- City/District input -->
                            <div class="form-outline mb-3">
                                <input type="text" name="city" id="editCity" class="form-control" placeholder="City/ District"/>
                            </div>
                            {{!-- <div class="">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div> --}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="" class="saveAddress btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></div></div></div><script>
    $(document).ready(() => {
    jQuery.validator.addMethod("lettersOnly", (value) => {
        return /^[a-zA-Z ]+$/i.test(value);
    });

    $('#addAddress').validate({
        rules: {
            name: {
                required: true,
                lettersOnly: true
            },
            phoneNumber: {
                required: true,
                minlength: 10,
                maxlength: 10,
                number: true
            },
            zip: {
                required: true
            },
            state: {
                required: true,
                lettersOnly: true
            },
            address: {
                required: true
            },
            locality: {
                required: true
            },
            city: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Please enter your name!",
                lettersOnly: "Please enter valid name!"
            },
            phoneNumber: {
                required: "Please enter your phone number!",
                minlength: "Invalid Number!",
                maxlength: "Invalid Number!",
                number: "Invalid Number!"
            },
            zip: {
                required: "This is a required field!"
            },
            state: {
                required: "This is a required field!",
                lettersOnly: "Please enter valid data!"
            },
            address: {
                required: "This is a required field!"
            },
            locality: {
                required: "This is a required field!"
            },
            city: {
                required: "This is a required field!"
            }
        }
    })
})

// Edit Modal
</script>
